./vscode/*
*.pyc
./vscode
.vscode/*

*.pth
.ipynb_checkpoints
API/Segmentation_API/segmentation_orig.py
Experiment.ipynb
FBA_Matting.ipynb
Videos/avengers.avi
Videos/friends.avi
API/app2.py
API/Segmentation_API/segmentation_orig.py
